.tox

pids
logs
node_modules
npm-debug.log
coverage/
run
dist
public
!docs/.vuepress/public
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist

# vim
*.swp

# Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.tgz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# Packing-only formats
*.iso
*.tar

# Package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
