/* Hide external repository in regular navbar */
.nav-links .repo-link {
  display: none;
}

/* Hide navbar in sidebar. Only works in build, https://github.com/vuejs/vuepress/issues/1099 */
.sidebar .nav-links {
  display: none;
}

.custom-homepage {
  .last-updated {
    display: none !important;
  }
}

.custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}
.custom-block.details h4 {
  margin-top: 0;
}
.custom-block.details figure:last-child {
  padding-bottom: 0;
}
.custom-block.details p:last-child {
  padding-bottom: 0;
}
.custom-block.details summary {
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.customiframe {
  position: absolute;
  overflow: hidden;
  overflow-y: hidden;
  height: 110%;
  width: 100%;
  width: 860px;
  top: 150px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  margin: 0 auto;
  padding-left: 320px;
}
/*
.custom-block.tip {
  border-color: #2e7578;
}
.custom-block.warning {
  border-color: #f4ac67
  background-color: #fdd9b5
}
*/

/* Render code blocks better with line breaks. See https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break */
code {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* set logo width on widescreen mode of phones */
@media (max-width: $MQNarrow) {
  .customiframe {
    padding-left: 270px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: $MQMobile) {
  .logo {
    height: auto;
    width: 80%;
  }
  .customiframe {
    padding-left: 270px !important;
    padding-right: 20px !important;
  }
}

/* set logo width on phones */
@media (max-width: $MQMobileNarrow) {
  .logo {
    height: auto;
    width: 70%;
  }
  .customiframe {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: 719px) {
  .logo {
    height: auto;
    width: 70%;
  }
  .customiframe {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.mascot {
  background-image: url("/img/hunt-cloud_bot_250_2.png");
  background-position: 50% 50%;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0,0,0,0);
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}
