/* Hide external repository in regular navbar */
.nav-links .repo-link {
  display: none;
}

/* Hide navbar in sidebar. Only works in build, https://github.com/vuejs/vuepress/issues/1099 */
.sidebar .nav-links {
  display: none;
}
